<section
  class="h-screen w-screen bg-black text-center relative overflow-hidden"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-gray-100 pt-16 text-5xl font-semibold">Model Y</h2>
      <h4 class="text-gray-100 text-xl font-semibold">From $31,890*</h4>
      <p class="text-gray-100">After Federal Tax Credit & Est. Gas Saving</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-16">
      <div>
        <a
          href="/"
          class="text-gray-800 font-semibold rounded-md bg-white/90 backdrop-blur-lg px-8 w-10 py-2"
          >Shop Available</a
        >
        <a
          href="/"
          class="text-gray-300 font-semibold rounded-md bg-black/70 backdrop-blur-lg px-10 py-2"
          >Demo Drive</a
        >
      </div>

      <p class="text-gray-100 text-sm mt-8">Price before incentives and savings is $42,990, excluding taxes and fees. Subject to change.</p>
      <div>
        <a href="" class="text-xs border-b-2 text-gray-100">Learn about est. gas savings.</a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/Homepage-Model-Y-Desktop-NA-v2.mp4"></video>
  </div>
</section>
